BIGPICKLE_HOST=0.0.0.0
BIGPICKLE_PORT=8000
BIGPICKLE_EXTRACTOR_BASE_URL=http://extractor:8000
BIGPICKLE_MAX_UPLOAD_BYTES=52428800        # 50 MB
BIGPICKLE_HTTP_TIMEOUT_CONNECT_SECONDS=5
BIGPICKLE_HTTP_TIMEOUT_READ_SECONDS=120
BIGPICKLE_HTTP_TIMEOUT_WRITE_SECONDS=120
BIGPICKLE_HTTP_TIMEOUT_POOL_SECONDS=5
BIGPICKLE_HTTP_MAX_CONNECTIONS=100
BIGPICKLE_LOG_LEVEL=INFO