PAPEREXTRACTOR_HOST=0.0.0.0
PAPEREXTRACTOR_PORT=8000
PAPEREXTRACTOR_EXTRACTOR_BASE_URL=http://extractor:8000
PAPEREXTRACTOR_MAX_UPLOAD_BYTES=52428800        # 50 MB
PAPEREXTRACTOR_HTTP_TIMEOUT_CONNECT_SECONDS=5
PAPEREXTRACTOR_HTTP_TIMEOUT_READ_SECONDS=120
PAPEREXTRACTOR_HTTP_TIMEOUT_WRITE_SECONDS=120
PAPEREXTRACTOR_HTTP_TIMEOUT_POOL_SECONDS=5
PAPEREXTRACTOR_HTTP_MAX_CONNECTIONS=100
PAPEREXTRACTOR_LOG_LEVEL=INFO
